.Store-Page__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.Store-Page__cards-img{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 2rem;
    object-fit: cover;
    filter: opacity(0.3);
}


.Store-Page__cards-price{
    align-self: flex-start;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: .5rem;
    position: absolute;
}

.Store-Page__cards-title{
    background-color: var(--mask-title);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: var(--text-color);
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
    width: 200px;
    position: relative;
    bottom: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}